body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    }
    
    .container {
            background: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 300px;
            text-align: center;
        }
        h2 { color: #333; }
        select, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 1rem;
        }
        button {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background 0.3s;
        }
        button:hover { background-color: #0056b3; }
        
        .tabla-producto {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }
        .tabla-producto td {
            padding: 10px;
            border-bottom: 1px solid #eee;
            color: #555;
        }
        .producto
        {
            font-weight: bold;
        }
       